tbody>:nth-child(odd){background:#D3D3D3; !important;}
thead>:nth-child(1) {color:white;background:#00B050;!important}
#at-button-open-edit {display: none; !important;}
#sites-chrome-adminfooter-container {display: none; !important;}

